---
import MainLayout from "../layouts/MainLayout.astro";
import { fade } from "astro:transitions";

// server only
const nombre: string = "Roberto Carlos";
---

<MainLayout title="Home page">
  <h1 transition:animate="slide">{nombre}</h1>
  <h2 transition:animate={fade({ duration: "0.4s" })}>Home</h2>

  <p>Momento actual: {new Date().toLocaleTimeString()}</p>
  <p id="momemt">Momento actual real:</p>

  <footer>Año: 2023</footer>
  <script>
    // client only
    const currentYear: number = new Date().getFullYear();
    const footer = document.querySelector("footer") as HTMLElement;
    footer.innerText = `Año ${currentYear}`;

    //   const currenMoment: number = new Date().toLocaleDateString();
    const time = document.querySelector("#momemt") as HTMLParagraphElement;
    time.innerText = `Momento actual real ${new Date().toLocaleTimeString()}`;
  </script>
</MainLayout>
