.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* background-color: transparent; */
     background-color: #0D7003; 
    padding: 15px;
    font-size: 20px;
    color: #bcddd2;
}

.navbar a{
    text-decoration: none;
    color: inherit;
}

.navbar button{
    cursor: pointer;
    font-size: 18px;
    background-color: transparent;
    border: none;
    color: inherit;
}

.logo{
    margin-right: 50px;
}

.list{
    list-style: none;
    display: flex;
    gap: 25px;
}