---
import "../style/navba.css"
---

<nav class="navbar animate__animated animate__backInUp">
  <a href="#" class="logo">MBR</a>
  <div class="menu">
    <ul class="list">
      <li><a href="/">Home Page</a></li>
      <li><a href="/about">About page</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
